
node_modules
Dockerfile
docker-compose*.yml

.git
.gitignore
README.md
npm-debug.log

.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.husky
scripts
test
.eslintrc.js
.lyrid-definitions.yml
.npmrc
.prettierrc
Procfile
yarn-error.log